---
import "../styles/global.css";
import "../styles/sizes.css";
import Header from "../shared/header.astro";
import Hero from "../components/beranda/hero.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="max-[8192px]:opacity-0 max-[3120px]:m-0 max-[3120px]:box-border max-[3120px]:p-0 max-[3120px]:opacity-100 max-[324px]:hidden"
>
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="" />
    <title>{title} | Chery</title>
    <link
      rel="stylesheet"
      href="https://atugatran.github.io/FontAwesome6Pro/css/all.min.css"
    />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
      defer></script></head
  >
    <body class="overflow-x-hidden h-full min-h-screen" x-data="{ mouseX: 0, mouseY: 0 }" @mousemove="mouseX = $event.clientX; mouseY = $event.clientY">
      <Header />
      <div class="relative h-screen">
        <div class="relative h-screen">
          <!-- Background Pattern -->
          <div class="absolute inset-0">
            <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"></div>
        </div>  
      <Hero />
      <slot />
    </body>
</html>
